input[type="text"], input[type="email"], input[type="password"] {
  padding: 12px;
  margin: 10px 0;
  box-sizing: border-box;
}

button {
    background-color: #124177;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#logo {
    font-family: 'Fontdiner Swanky', sans-serif;
    color: #124177;
    font-size: 72px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#tagline {
    font-family: 'Lobster', cursive;
    color: #7aaad4;
    font-size: 1lh;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#instructions {
    font-family: monospace;
    width: 60%;
    color: #3c3c3c;
    font-size: 1lh;
    text-align: center;
    margin: auto;
    background-color: #dff0ff;
    padding: 15px;
    border-radius: 10px;
    border: px solid #124177;
}

#tracked-items {
    font-family: 'Lobster', cursive;
    color: #124177;
    font-size: 2lh;
    margin-left: 16px;
    margin-bottom: 0px;
}

#item-card-grid {
  display: table;
  padding: 16px;
}

#item-card-grid :first-child {
  border-top: none;
  margin-top: 0;
  padding-top: 0;
}
