#logo {
    font-family: 'Fontdiner Swanky', sans-serif;
    color: #124177;
    font-size: 3lh;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

#tagline {
    font-family: 'Lobster', cursive;
    color: #7aaad4;
    font-size: 1lh;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
}

#instructions {
    font-family: monospace;
    width: 40lh;
    color: #3c3c3c;
    font-size: 1lh;
    text-align: center;
    margin: auto;
    background-color: #dff0ff;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #124177;
}