:host {
    display: block;
    border-radius: 8px;
    padding: 16px;
    margin: 8px 0;
    background-color: #ffffff;
    max-width: 60%;
    height: fit-content;
    border-top: 0.5px solid #c4cbeb;
}

#item-card-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1lh;
    color: #124177;
    width: 20%;
    text-align: left;;
}

#item-card-location{
    font-family: monospace;
    font-weight: 500;
    color: #2f81c9;
    font-size: 18px;
    text-align: center;
}